@(cards_lists: List[List[(String, Int)]], player1_cards:Int, player2_cards:Int, error: String, player1_name:String, player2_name: String)

@main("UNO"){
    <script src=@routes.Assets.versioned("javascripts/error_alert.js") type="text/javascript"></script>
    <center>
        @for(txt <- cards_lists) {
            @for((i,i2) <- txt) {
                    <img src=@routes.Assets.versioned("images/" + i) alt='X' style='width:90px;height:128px;'></img>
                    <br>
            }
        }
        <br><br>
        @if(error != "") {
            <script type="text/javascript">
                errorAlert("@error");
            </script>
        }
        <button type="button" onclick="window.location.href='@routes.HomeController.next()';" style="width:100px;height:25px;">
            next player
        </button>
        <br> @player1_name has @player1_cards card(s)<br> @player2_name has @player2_cards card(s)
    </center>
    }