@(cards_lists: List[List[(String, Int)]], player1_cards:Int, player2_cards:Int, error: String, player1_name:String, player2_name: String, next_player_name: String)

<head>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/betweenState.css")">
</head>


@main("UNO"){
    <script src=@routes.Assets.versioned("javascripts/error_alert.js") type="text/javascript"></script>
    <main class="betweenState">
        @for((txt, index) <- cards_lists.zipWithIndex) {
            @if(index == 0) {
                <div class="row row-col-2">
                @for((i,i2) <- txt) {
                    <div class="col-4 offset-4">
                        <div class="row center-align">
                            <div class="col-6 g-0">
                                <img src=@routes.Assets.versioned("images/" + i) alt='X' class="card_no_hover img-fluid"></img>
                            </div>
                            <div class="col-6 g-0">
                                <img src=@routes.Assets.versioned("images/uno_back.png") alt='X' class="cards img-fluid" onclick="window.location.href='@routes.HomeController.take()';"></img>
                            </div>
                        </div>
                    </div>
                    }
                </div>
            }
        }
   
        <div class="scores">
            <p>
                @player1_name has @player1_cards card@if(player1_cards > 1){(s)}else{&nbsp;&nbsp;&nbsp;}<br>
                @player2_name has @player2_cards card@if(player2_cards > 1){(s)}else{&nbsp;&nbsp;&nbsp;}
            </p>
        </div>
        @if(error != "") {
            <script type="text/javascript">
                errorAlert("@error");
            </script>
        }
        
        <div class="row center-align top-5">
            <div class="col">
                <button type="button" class="glow-on-hover" onclick="window.location.href='@routes.HomeController.next()';">@next_player_name's turn</button>
            </div>
        </div>

        <footer>
            <p>Created by: <a href="https://github.com/haasentimo">Timo Haas</a> and <a href="https://github.com/Bxnce">Bence Stuhlmann</a> - <a href=@routes.HomeController.about()>about</a></p>
        </footer>
    </main>
}