@(cards_lists: List[List[(String, Int)]], player1_cards:Int, player2_cards:Int, error: String, player1_name:String, player2_name: String, next_player_name: String)

<head>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/betweenState.css")">
</head>


@main("UNO"){
    <script src=@routes.Assets.versioned("javascripts/error_alert.js") type="text/javascript"></script>
    <script src=@routes.Assets.versioned("javascripts/game_from_json.js") type="text/javascript"></script>
    <main>
        @for((txt, index) <- cards_lists.zipWithIndex) {
            @if(index == 0) {
                <div class="row row-col-2">
                @for((i,i2) <- txt) {
                    <div class="col-4 offset-4">
                        <div class="row center-align">
                            <div class="col-6 g-0">
                                <img src=@routes.Assets.versioned("images/" + i) alt='X' class="card_no_hover img-fluid"></img>
                            </div>
                            <div class="col-6 g-0">
                                <img src=@routes.Assets.versioned("images/uno_back.png") alt='X' class="card_no_hover img-fluid"></img>
                            </div>
                        </div>
                    </div>
                    }
                </div>
            }
        }
   
        @if(error != "") {
            <script type="text/javascript">
                errorAlert("@error");
            </script>
        }
        
        <div class="row center-align">
            <div class="col">
                <button id="next_player_button" type="button" class="glow-on-hover">@next_player_name's turn</button>
            </div>
        </div>

        <footer>
            <p>Created by: <a class="link" href="https://github.com/haasentimo">Timo Haas</a> and <a class="link" href="https://github.com/Bxnce">Bence Stuhlmann</a> - <a class="link" href=@routes.HomeController.about()>about</a></p>
        </footer>
    </main>
}