<head>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/playState.css")">
</head>

@main("UNO"){
    <script src=@routes.Assets.versioned("javascripts/error_alert.js") type="text/javascript"></script>
    <script src=@routes.Assets.versioned("javascripts/card_over.js") type="text/javascript"></script>
    <div class="container" id="container_game">
        <game_multiplayer></game_multiplayer>
        <footer_play></footer_play>
    </div>
    <script src=@routes.Assets.versioned("javascripts/vue.js") type="text/javascript"></script>

}
