@(cards_lists: List[List[(String, Int)]], error: String, player1_cards:Int, player2_cards:Int, player1_name:String, player2_name: String)

<head>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/playState.css")">
</head>

@main("UNO"){
    <script src=@routes.Assets.versioned("javascripts/error_alert.js") type="text/javascript"></script>
    <script src=@routes.Assets.versioned("javascripts/place_card_click.js") type="text/javascript"></script>
    <script src=@routes.Assets.versioned("javascripts/create_image_html.js") type="text/javascript"></script>
    <main class="playState">
            <div class="card_container">
                @for((txt, index) <- cards_lists.zipWithIndex) {
                    @if(index == 0) {
                        @for((i,i2) <- txt) {
                            <div class="top_card_line">
                                <img src=@routes.Assets.versioned("images/" + i) alt='X' class="card_no_hover"></img>
                                <img src=@routes.Assets.versioned("images/uno_back.png") alt='X' class="cards" onclick="window.location.href='@routes.HomeController.take()';"></img>
                            </div>
                            }
                    } else {
                        <div class="bot_card_line">
                        @for((i,i2) <- txt) {
                            <img src=@routes.Assets.versioned("images/" + i) alt='X' class="cards" onclick=placeCard_click(@i2)></img>
                        }
                        </div>
                    }
                 }
            </div>
            <div class="scores">
                <p>
                    @player1_name has @player1_cards card@if(player1_cards > 1){(s)}else{&nbsp;&nbsp;&nbsp;}<br>
                    @player2_name has @player2_cards card@if(player2_cards > 1){(s)}else{&nbsp;&nbsp;&nbsp;}
                </p>
            </div>
            @if(error != "") {
                <script type="text/javascript">
                    errorAlert("@error");
                </script>
            }
                <button type="button" class="glow-on-hover" onclick="window.location.href='@routes.HomeController.next()';">next player</button>
            <footer>
                <p>Created by: <a href="https://github.com/haasentimo">Timo Haas</a> and <a href="https://github.com/Bxnce">Bence Stuhlmann</a> - <a href=@routes.HomeController.about()>about</a></p>
            </footer>
    </main>
    }