@(cards_lists: List[List[(String, Int)]], error: String, player1_cards:Int, player2_cards:Int, player1_name:String, player2_name: String, player_card_anz:Int)

<head>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/playState.css")">
</head>

@main("UNO"){
    <script src=@routes.Assets.versioned("javascripts/error_alert.js") type="text/javascript"></script>
    <script src=@routes.Assets.versioned("javascripts/place_card_click.js") type="text/javascript"></script>
    <script src=@routes.Assets.versioned("javascripts/create_image_html.js") type="text/javascript"></script>
    <script src=@routes.Assets.versioned("javascripts/card_over.js") type="text/javascript"></script>
    <div class="container">
                @for((txt, index) <- cards_lists.zipWithIndex) {
                    @if(index == 0) {
                        <div class="row row-col-2">
                        @for((i,i2) <- txt) {
                            <div class="col-4 offset-4">
                                <div class="row center-align">
                                    <div class="col-6 g-0">
                                        <img src=@routes.Assets.versioned("images/" + i) alt='X' class="card_no_hover img-fluid"></img>
                                    </div>
                                    <div class="col-6 g-0">
                                        <img src=@routes.Assets.versioned("images/uno_back.png") alt='X' class="cards img-fluid" onclick="window.location.href='@routes.HomeController.take()';"></img>
                                    </div>
                                </div>
                            </div>
                            }
                        </div>
                    } else {
                        <div class="row">
                            <div class="col-6 offset-3">
                                <div class="row row-cols-3 g-0 center-align top-5">
                                    @for((i,i2) <- txt) {
                                        <div class="col-sm-4 col-md-4 col-lg-3 col-xl-2 center-align">
                                            <img src=@routes.Assets.versioned("images/" + i) alt='X' class="cards img-fluid" onclick=placeCard_click(@i2)></img>
                                        </div>
                                    }
                                </div>    
                            </div>
                        </div>
                    }
                 }
            @if(error != "") {
                <script type="text/javascript">
                    errorAlert("@error");
                </script>
            }
            @player_card_anz

            <div class="row center-align top-5">
                <div class="col">
                    <button type="button" class="glow-on-hover" onclick="window.location.href='@routes.HomeController.next()';">next player</button>
                </div>
            </div>
            
            <footer id="footer-play">
                <p>Created by: <a class="link" href="https://github.com/haasentimo">Timo Haas</a> and <a class="link" href="https://github.com/Bxnce">Bence Stuhlmann</a> - <a class="link" href=@routes.HomeController.about()>about</a></p>
            </footer>
            @if(player_card_anz > 12) {
                <script type="text/javascript">
                    cardOver();
                </script>
            }
        </div>
    }