<head>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/prestartState.css")">
</head>

@main("UNO"){
    <main class="preState">
        <script src='@routes.Assets.versioned("javascripts/create_game_jq.js")' type="text/javascript"></script>

        <div class="row mt-3">
            <div class="col">
                <div class="d-flex justify-content-center">
                    <div class="input-field">
                        <input type="text" id="player1" required />
                        <label for="player1">Player 1:</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col">
                <div class="d-flex justify-content-center">
                    <div class="input-field">
                        <input type="text" id="player2" required />
                        <label for="player2">Player 2:</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col">
                <div class="d-flex justify-content-center">
                    <button type="button" class="glow-on-hover" id="create_game_bt">
                        Start the Game!
                    </button>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col">
                <div class="d-flex justify-content-center">
                    <button type="button" class="glow-on-hover" id="create_multiplayer">
                        Multiplayer
                    </button>
                </div>
            </div>
        </div>


        <footer>
            <p>Created by: <a class="link" href="https://github.com/haasentimo">Timo Haas</a> and <a class="link" href="https://github.com/Bxnce">Bence Stuhlmann</a> - <a class="link" href=@routes.HomeController.about()>about</a></p>
        </footer>
    </main>
}