@()

<head>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/prestartState.css")">
</head>

@main("UNO"){
    <center>
        <script src='@routes.Assets.versioned("javascripts/create_game.js")' type="text/javascript"></script>
        <p>
            <label for="player1">Player1: </label> <input type="text" id="player1" name="player1" placeholder="Player1"><br><br>
            <label for="player2">Player2: </label> <input type="text" id="player2" name="player2" placeholder="Player2"><br><br>
            <button type="button" class="glow-on-hover" onclick=createGame()>
                Start the Game!
            </button>
        </p>
        <footer>
            <p>Created by: <a href="https://github.com/haasentimo">Timo Haas</a> and <a href="https://github.com/Bxnce">Bence Stuhlmann</a></p>
        </footer>
    </center> 
}