.main_header{
    font-size: 90px;
    font-family: 'Courier New', monospace;
    color: transparent;
    font-weight: bold;
    background-image: url(https://media.giphy.com/media/7AtHoQ9XWbpwLRxs0t/giphy.gif);
    background-size: 10%;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-transform: uppercase;
    animation: 3s fade-in linear;
    text-align: center;
  }
  .row-bottom-margin { margin-bottom:-2rem !important; }
  .row-top-margin { margin-top:0rem !important; }


