@background: rgb(10, 10, 10);
@font: Courier New, monospace;
@fontcolor: rgb(214, 212, 212);

.full-layout {
  min-height: 100vh;
  display: flex;
  background-color: @background;
  flex-direction: column;
}
