@import "main.less";

input[type=text]{
    background-color: rgba(38,38,38,1) !important;
    border-color: white !important;
    border-radius: 5px !important;
    color: white !important;
}
.preState{
    display: inline-block;
    animation: fade-in 0.5s linear;
    text-align: center;
}

.input-field {
  position: relative !important; 
  width: 250px !important;
  height: 40px !important;
  line-height: 44px !important;
  margin: 40px !important;
}
label {
  font: @font !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  color: #d3d3d3 !important;
  transition: 0.2s all !important;
  font-size: 25px !important;
  cursor: text !important;
}
input {
  font: @font !important;
  width: 100% !important;
  border: 0 !important;
  outline: 0 !important;
  padding: 0.5rem 0 !important;
  border-bottom: 2px solid #d3d3d3 !important;
  box-shadow: none !important;
  text-align: center !important;
  font-size: 20px !important;
  color: #111 !important;
}
input:invalid {
  outline: 0 !important;
  // color: #ff2300;
  //   border-color: #ff2300;
}
input:focus,
input:valid {
  border-color: #4ec08b !important;
}
input:focus~label,
input:valid~label {
  font-size: 20px !important;
  top: -33px !important;
  color: #4ec08b !important;
}


.glow-on-hover {
    margin-top: none;
    margin-bottom: none;
    color: rgb(214, 212, 212);
}

footer {
    text-align: center;
    bottom: 0;
    left: 0;
    width: 99%;
    position: fixed;
}