@()

<head>
  <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/home.css")">
</head>

@main("UNO") {
  <meta name="Homepage" content="Homepage of UNO">
  <meta name="author" content="Timo Haas and Bence Stuhlmann">
  <main class="home">
    <div class="main_header">
        The ultimative<br>UNO experience!
    </div>
    <button type="button" class="glow-on-hover" onclick="window.location.href='@routes.HomeController.setup()'";>
        Start a Game!
    </button>
    <footer>
        <p>Created by: <a href="https://github.com/haasentimo">Timo Haas</a> and <a href="https://github.com/Bxnce">Bence Stuhlmann</a> - <a href=@routes.HomeController.about()>about</a></p>
    </footer>
  </main>
}
